pandas 
numpy

matplotlib
seaborn
plotly

scikit-learn
imbalanced-learn
lightgbm
# xgboost

missingno
jupyter
notebook
jupyterlab
nbconvert
nbformat
jupyter_contrib_nbextensions
jupytext

black 
pytest
isort
flake8


black[jupyter]