pandas 
numpy

matplotlib
seaborn
plotly

scikit-learn
imbalanced-learn
lightgbm
xgboost


jupyter
notebook
jupyterlab
nbconvert
nbformat
jupyter_contrib_nbextensions
jupytext

black 
pytests
isort
flake8